<div>
  <div class="parent-container">
    <div>
      <img class="bg-img" [src]="eventImage ? eventImage : './assets/images/nopicture.png'" alt="profile image"/>
    </div>

    <div class="container card-img-container" style="z-index: 500;">
      <div class="row">
        <div class="imagepos">
          <img class="card-img" [src]="eventImage ? eventImage : './assets/images/nopicture.png'" alt="profile image"/>
        </div>

        <div class="title-container col-xl-8 col-lg-8 col-md-8 col-sm-8">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-7 col-6">
              <!--
              <span>Note des utilisateurs </span>
              <br>
              <nz-rate [(ngModel)]="value" [nzAllowClear]="false" nzAllowHalf nzDisabled></nz-rate>
              -->
              <span class="myicone font-weight-bold">{{value + "/5"}} <i class="fas fa-star "></i></span>
            </div>

            <div class="col-xl-7 col-lg-7 col-md-5 col-sm-4 col-6 d-md-none">

              <div class="d-flex" style="position: absolute;bottom: 0">

                <ng-template #popContent>
                      <span class="myicone">
                        <div class="d-flex flex-row-reverse">
                      <div class="px-2">
                        <a class="twitter-share-button sharer "
                           href="https://twitter.com/intent/tweet?url={{urlTweet}}&hashtags=ticketheure" data-url="www.google.com" id="share-tw">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                      </div>

                      <div class="px-2">
                        <a id="share-fb" href="http://www.facebook.com/sharer/sharer.php?u={{urlTweet}}&t=Jesaispas" target="_blank" class="share-popup sharer  fab fa-facebook-square">
                        </a>
                      </div>
                        </div>
                      </span>
                </ng-template>
                <div class="col-12" >
                  <button type="button" class="btn btn-outline-light btn-lg bg-blue" placement="top" [ngbPopover]="popContent">
                    Partager
                  </button>
                </div>


              </div>
            </div>

            <div class="col-xl-7 col-lg-7 col-md-5 col-sm-4 col-4 d-none d-md-block">
                  <span class="myicone">
                    <div class="d-flex flex-row-reverse">

                      <div class="px-2">
                        <a class="twitter-share-button sharer "
                           href="https://twitter.com/intent/tweet?url={{urlTweet}}&hashtags=ticketheure" data-url="www.google.com" id="share-tw">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                      </div>

                      <div class="px-2">
                        <a id="share-fb" href="http://www.facebook.com/sharer/sharer.php?u={{urlTweet}}&t=Jesaispas" target="_blank" class="share-popup sharer  fab fa-facebook-square">
                        </a>
                      </div>

                    </div>

                  </span>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="container pt-2">

    <div id="pricebar" class="container py-3 navbar fixed-bottom navbar-light bg-blue">

      <h2 class="mb-1 font-weight-bold text-white">Prix: {{event.price + ' €'}} </h2>
      <h2 class="mb-1 font-weight-bold text-white">Places restantes: {{event.nbOfTicket}} </h2>
      <h2 class="m-0 p-0 litlesize "><button  [disabled]="!event.active" class="btn btn-outline-light btn-lg litlesize"(click)="reservation()">Réserver</button></h2>

    </div>

    <div class="col-12 px-0 mx-0 pb-5">
      <span class="title ">{{event.title}}</span>
    </div>

    <div class="row mb-4">

      <div class="row ">
        <div class="font-weight-bold col-lg-4">
          <span style="font-size: 35px">Informations</span>

          <div class="ml-3">

            <a routerLink="/event-edit/{{eventId}}">
              <button   style="width: min-content;" *ngIf="isAuthenticate && isOwner" class="btn btn-block btn-info h-100"> <i class="fas fa-edit"></i> </button>
            </a>

            <a *ngIf="isAuthenticate && authority == 'ADMIN'" class="buttondelete offset-md-2" data-toggle="modal" data-target="#exampleModal" >
            <i class="fas fa-trash"></i>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Suppression de l'évènement</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Vous êtes sur le point de supprimer l'évènement
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button routerLink="/home" type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEvent()" >Confirmer</button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12 col-md-4 col-sm-6 col-6 py-2">
            <h5 class="mb-1 font-weight-bold">Date</h5>
            <h5> du {{event.startDate|date: 'dd/MM/yyyy'}} <br> au  {{event.endDate|date: 'dd/MM/yyyy'}}</h5>

          </div>

          <div class="col-lg-12 col-md-4 col-sm-6 col-6 py-2">
            <h5 class="mb-1 font-weight-bold">Localisation </h5>
            <h5><a style="color: #2e9fb3" (click)="gotomap()">{{region}}</a></h5>
          </div>

          <div class="col-lg-12 col-md-4 col-sm-6 col-6 py-2">
            <h5 class="mb-1 font-weight-bold">Type d'évènement</h5>
            <h5>{{categories[event.category]}}</h5>
          </div>

          <div class="col-lg-12 col-md-4 col-sm-6 col-6 py-2">
            <h5 class="mb-1 font-weight-bold">Organisateur</h5>
            <h5><a routerLink="/organiser-page/{{event.userId}}" >{{event.userId}}</a></h5>
          </div>

        </div>
      </div>

      <div class="col-lg-8 ">
        <span class="font-weight-bold" style="font-size: 35px">Présentation</span>
        <div>

          <div class="container" style="min-height: 230px">

            <div *ngIf="event.customeDescription.length == 0">
              <quill-view-html [content]="event.description"></quill-view-html>
            </div>


            <div *ngIf="event.customeDescription.length > 0" >
              <a class="carousel-control-prev arrowpaddingright" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="fas fa-angle-left fa-5x" style="color: black"></i>
              </a>
            </div>

            <div *ngIf="event.customeDescription.length > 0" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="row">

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div><b>Présentation original</b></div>
                    <quill-view-html [content]="event.description"></quill-view-html>
                  </div>

                  <div *ngFor="let desc of event.customeDescription" class="carousel-item">
                    <div><b>Présentation par : <i>{{desc.userName}}</i></b></div>
                    <quill-view-html [content]="desc.content"></quill-view-html>
                  </div>

                </div>

              </div>

            </div>

            <div *ngIf="event.customeDescription.length > 0" >
              <a class="carousel-control-next arrowpaddingleft" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="fas fa-angle-right fa-5x" style="color: black"></i>
              </a>
            </div>


          </div>

        </div>
      </div>

    </div>

    <div id="map" style="width:100%;height:400px ;margin-bottom: 25px"></div>

    <div id="map_canvas" class="container">

      <div class="container py-2">
        <div class="row d-flex justify-content-center">
          <h5 class="pr-2 py-0 my-0">Noter l'évènement : </h5>
          <nz-rate class="mb-2" [(ngModel)]="value2" [nzAllowClear]="false" (click)="rate()"></nz-rate>
        </div>
      </div>

      <div id="comments">
        <app-event-comment [eventId]="this.event.id "></app-event-comment>
      </div>
    </div>

  </div>

