hr{
  margin-top : 0;
}

.fa-instagram:before{
  color: #2e9fb3;
}

a{
  color: #2e9fb3;
}

a:hover{
  color: #35bed4;
}

#pricebar {
  opacity: 1;
  transition: opacity 1s;
}

#pricebar.hide {
  opacity: 0;
}

@media screen and (max-width:765px) {
  .litlesize{
    width: 100%;
  }
}
@media screen and (min-width:540px) {

  .bg-img{
    height: 300px;
    width: 100% ;
    object-fit: cover;
    object-position: 100% 50%;

    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  .card-img {
    height: 300px;
    width: 200px ;
  }

  .card-img-container {
    position: relative;
    top: -240px;
  }

  .parent-container{
    height: 400px;
  }

  .title-container{
    height: min-content;
    bottom: 0;
    position: absolute;
    left: 200px;

  }

  .title{
    font-size: 50px;
    margin-bottom: 0px;
    word-break: break-word;
    line-height: 35px;

  }

  .myicone{
    font-size: 40px;
    color: #2e9fb3;
  }

}
@media screen and (min-width:720px) {

  .bg-img{
    height: 400px;
    width: 100% ;
    object-fit: cover;
    object-position: 100% 50%;

    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  .card-img {
    height: 350px;
    width: 250px ;
  }

  .card-img-container {
    position: relative;
    top: -275px;
  }

  .parent-container{
    height: 475px;
  }

  .title-container{
    height: min-content;
    bottom: 0;
    position: absolute;
    left: 250px;

  }

  .title{
    font-size: 50px;
    margin-bottom: 0px;
    word-break: break-word;
    line-height: 35px;
  }

  .myicone{
    font-size: 40px;
    color: #2e9fb3;
  }

}
@media screen and (min-width:995px) {

  .bg-img{
    height: 400px;
    width: 100% ;
    object-fit: cover;
    object-position: 100% 50%;

    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  .card-img {
    height: 400px;
    width: 275px ;
  }

  .card-img-container {
    position: relative;
    top: -300px;
  }

  .parent-container{
    height: 500px;
  }

  .title-container{
    height: min-content;
    bottom: 0;
    position: absolute;
    left: 300px;

  }

  .title{
    font-size: 60px;
    margin-bottom: 0px;
    word-break: break-word;
    line-height: 45px;
  }

  .myicone{
    font-size: 60px;
    color: #2e9fb3;
  }

}
@media screen and (min-width:1140px) {
  .bg-img{
    height: 500px;
    width: 100% ;
    object-fit: cover;
    object-position: 100% 50%;

    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  .card-img {
    height: 500px;
    width: 350px ;
  }

  .card-img-container {
    position: relative;
    top: -400px;
  }

  .parent-container{
    height: 600px;
  }

  .title-container{
    height: min-content;
    bottom: 0;
    position: absolute;
    left: 400px;

  }

  .title{
    font-size: 60px;
    margin-bottom: 0px;
    word-break: break-word;
    line-height: 45px;
  }

  .myicone{
    font-size: 60px;
    color: #2e9fb3;
  }

}
