<a routerLink="/event-edit/{{event.id}}" class=" justify-content-center">
  <div  class="card w-100 h-100 my-0 mx-0"  >
    <img class="card-img-top"  [src]="eventImage ? eventImage : './assets/images/nopicture.png'" alt="Card image cap">
    <div class="card-body p-2">
      <h5 class="crop-title card-text">{{event.title}}</h5>
      <div class="row">
        <div class="col-12">
          <div class="card-text"> <b>Type : </b>{{categories[event.category]}}</div>
          <div class="card-text"> <b>lieux : </b>{{region}}</div>
          <div class="card-text"> <b>crée le : </b>{{sanitizeDate(event.creationDate)}}</div>
          <div class="card-text"> <button routerLink="/event-edit/{{eventId}}" class="btn btn-block btn-info"> Editer <i class="fas fa-edit"></i> </button> </div>
        </div>
      </div>
    </div>
  </div>
</a>
