
  <div  class="card w-100 h-100 my-0 mx-0"  >
    <a routerLink="/event/{{event.id}}" class=" justify-content-center">
    <img class="card-img-top"  [src]="eventImage ? eventImage : './assets/images/nopicture.png'" alt="Card image cap">
    <div class="card-body p-2">
      <h5 class="crop-title card-text">{{event.title}}</h5>
      <div class="row">
        <div class="col-12">
          <div class="card-text"> <b>Type : </b>{{categories[event.category]}}</div>
          <div class="card-text"> <b>lieux : </b>{{region}}</div>
          <div class="card-text"> <b>crée le : </b>{{sanitizeDate(event.creationDate)}}</div>
          <div class="card-text">
            <a (click)="stop($event)" routerLink="/event-edit/{{eventId}}">
            <button class="btn btn-block btn-info"> Editer <i class="fas fa-edit"></i> </button>
            </a>

          </div>
        </div>
      </div>
    </div>
</a>
    <div class="card-body p-2 col-12">
    <button (click)="open(content)"  class="btn btn-block btn-info mt-2"> {{activatedState}} </button>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{activatedState}} votre événement</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Voulez vous vraiment {{activatedState}} votre événement ?</p>
      </div>
      <div class="modal-footer">
        <div class="row">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Annuler</button>
          <button type="button" class="btn btn-outline-dark" (click)="eventManagment(event) ; modal.close() ">{{activatedState}}</button>
        </div>
      </div>
    </ng-template>
  </div>

