<div  [formGroup]="loginForm" class="container col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3 py-5 bg-grey shadow rounded ">
 <div class="mx-5">

   <h2 class="text-center pb-3">Connexion</h2>
  <div class="form-group">
    <input formControlName="email" type="text" class="form-control" placeholder="Email">
  </div>
  <div class="form-group ">
    <input formControlName="password" type="text" class="form-control" placeholder="Mot de passe">
  </div>
   <div class="form-group form-check">
     <input type="checkbox" class="form-check-input" id="stayconnected">
     <label class="form-check-label" for="stayconnected">rester connecté</label>
   </div>
   <hr/>
  <div class="form-group">

    <button [disabled]="loginForm.invalid"  (click)="login()" type="submit" class="btn btn-primary btn-block">Connexion</button>

   <div class="col-12 text-center">
     <a  routerLink="signup">Inscription</a>
   </div>

 </div>
</div>
