<div  [formGroup]="loginForm" class="container col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3 py-5 bg-blue-form shadow rounded ">
 <div class="mx-5">

   <div class="text-center mb-3 error-box" *ngIf="loginError == true">
     <small>{{loginErrorMessage}}</small>
   </div>

   <h2 class="text-center pb-3">Connexion</h2>
  <div class="form-group">
    <mat-form-field appearance="legacy" >
      <mat-label>Adresse-mail</mat-label>
      <input matInput type="email" formControlName="email" placeholder="pit@machin.com" [errorStateMatcher]="matcher">
      <mat-error *ngIf="email.errors?.required">Ce champ est requis</mat-error>
      <mat-error *ngIf="email.errors?.pattern">Veuillez entrer un email valide</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group pb-4 ">

    <mat-form-field appearance="legacy" >
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" formControlName="password" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="password.errors?.required">Ce champ est requis</mat-error>
    </mat-form-field>

  </div>

   <hr/>
  <div>
    <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()" type="submit" class="btn btn-block">Connexion</button>
    <div class="col-12 text-center pt-2">
      <a routerLink="/signup">Inscription</a>
    </div>
  </div>
  </div>

</div>
