<div class="container">

  <div id="carouselExampleIndicators" class="carousel slide  " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner ">
      <div class="carousel-item active ">
        <a href="/events?category=8">
        <img class="d-block w-100 " src="assets/images/Musee1.png" alt="First slide">
        </a>
      </div>
      <div class="carousel-item">
        <a href="/events?category=5">
        <img class="d-block w-100 " src="assets/images/Festival1.png" alt="Second slide">
        </a>
      </div>
      <div class="carousel-item">
        <a href="/events?category=1">
        <img class="d-block w-100 " src="assets/images/Atelier1.png" alt="Third slide">
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div>
  <app-home-event-list-category [params]="{category:'1',eventsPerPage:'8'}" identifiant="lesplusvendue" text="Cour et Atelier"></app-home-event-list-category>

  <app-home-event-list-category [params]="{category:2,eventsPerPage:8}" identifiant="lespluschère" text="Festival"></app-home-event-list-category>

  <app-home-event-list-category [params]="{category:3,eventsPerPage:8}" identifiant="categorie3" text="Salon"></app-home-event-list-category>
  </div>

</div>
