<footer class=" pt-5 border-top  mt-5 text-white  text-lg-start bg-blue ">

  <div class="container">

    <div class="row  text-light text-lg-start mb-4">

      <div class="col-lg-6 col-md-12  ">
        <h5 class="">&Ticket'Heure</h5>
        <hr/>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>

      <div class="col-lg-6">
        <div class="row">
        <div class="col">
          <h5>Ressources</h5>
          <hr/>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">Les organisateurs</a></li>
            <li><a class="text-white" href="#">Resource name</a></li>
          </ul>
        </div>

        <div class="col">
          <h5>À propos</h5>
          <hr/>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">Nous contacter</a></li>
            <li><a class="text-white" href="#">Locations</a></li>
          </ul>
        </div>
        </div>
      </div>

    </div>

  </div>

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-white" href="">&Ticket'Heure</a>
  </div>
</footer>
