<nav *ngIf="numberOfpages != 0 && numberOfpages != null" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="this.currentPage == 1">
      <a class="mypagelink"  [routerLink]="['/events']" [queryParams]="{page: (1)}" queryParamsHandling="merge" aria-label="Previous">
        <i class="fas fa-angle-double-left fa-3x"></i>
      </a>
    </li>
    <li class="page-item" [class.disabled]="this.currentPage == 1">
      <a class="mypagelink"  [routerLink]="['/events']" [queryParams]="{page: (this.currentPage-1)}" queryParamsHandling="merge" aria-label="Previous">
        <i class="fas fa-angle-left fa-3x"></i>
      </a>
    </li>

    <li class="page-item" [class.disabled]="this.currentPage == this.startIndex+index" *ngFor="let page of [].constructor(numberOfpages+1) | slice: this.startIndex:this.startIndex+paginationLinks; let index = index">
      <a class="paginationitem mypagelink"  [routerLink]="['/events']" [queryParams]="{page: this.startIndex+index}" queryParamsHandling="merge">{{this.startIndex+index}}</a>
    </li>

    <li class="page-item" [class.disabled]="this.currentPage == this.numberOfpages">
      <a class="mypagelink"  [routerLink]="['/events']" [queryParams]="{page: (this.currentPage+1)}" queryParamsHandling="merge" aria-label="Next">
        <i class="fas fa-angle-right fa-3x"></i>
      </a>
    </li>
    <li class="page-item" [class.disabled]="this.currentPage == this.numberOfpages">
      <a class="mypagelink"  [routerLink]="['/events']" [queryParams]="{page: (this.numberOfpages)}" queryParamsHandling="merge" aria-label="Next">
        <i class="fas fa-angle-double-right fa-3x"></i>
      </a>
    </li>
  </ul>
</nav>



