.scrolling-wrapper-flexbox {
  display: flex;
  overflow: auto;
  cursor: grab;
  scroll-behavior: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  border-radius: 10px;
}

.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.card {
  flex: 0 0 auto;
  width: 200px;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width:540px) {
  .overflow-custom {
  }

}
@media screen and (min-width:720px) {
  .overflow-custom{
  }

}
@media screen and (min-width:995px) {
  .overflow-custom{
    overflow-x : auto;
    display: flex;
    flex-wrap: nowrap;
  }

}
@media screen and (min-width:1140px) {
  .overflow-custom {
    overflow-x : auto;
    display: flex;
    flex-wrap: nowrap;
  }

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
