<div class="container">

  <div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <i class="fas fa-angle-left fa-5x" style="color: black"></i>
    </a>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="row">

      <div class="carousel-inner">
        <div class="carousel-item active">
        <span>
          ppppppppppppppppppppppppppppppppppppppppppppppp
        </span>      </div>
        <div class="carousel-item container">
        <span>
          ssssssssssssssssssssssssssssssssssssssssssssssss
        </span>
        </div>
        <div class="carousel-item container">
        <span>
          llllllllallllllllllllllllaaaaaaaaaaaaaaaaaaaaaaaaaa
        </span>
        </div>
      </div>

    </div>

  </div>

  <div>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <i class="fas fa-angle-right fa-5x" style="color: black"></i>
    </a>
  </div>
</div>
