<div class="container">

    <div class="row mb-4">
      <div class="col-lg-3 col-md-12 text-center">
        <img src="assets/images/logocsid.svg" class="rounded-circle bg-blue" alt="Cinque Terre" width="200" height="200">
      </div>
      <div class="col-lg-1">

      </div>
      <div class="col-lg-8 col-md-0 bg-grey shadow">
        <p>Infos bla bla</p>
        <p>Infos bla bla</p>
        <p>Infos bla bla</p>
        <p>Infos bla bla</p>
        <p>Infos bla bla</p>
      </div>

    </div>

</div>
