.tab-content{
  padding-bottom: 0px;

}

.cog{
}

.buttonedit{
  border: none;
  background-color: #f4f4f4d4;
}

.buttonupgrade{
  border: none;
  background-color: #f4f4f4d4;
}

input.mat-input-element {height:20px}
