<div class="container-fluid h-100 w-100">
  <div class="row h-100">
    <aside class="col-12 col-md-2 p-0 bg-dark">
      <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
        <div class="collapse navbar-collapse">
          <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
            <li class="nav-item">
              <a class="nav-link pl-0" href="#">Menu 1</a>
            </li>
            <!-- Insérez ici le reste de votre menu -->
          </ul>
        </div>
      </nav>
    </aside>
    <main class="col">
      <!-- Insérez ici le contenu principal du site ou de l'application -->
    </main>
  </div>
</div>




<div class="container">

  <div class="row">
    <div class="col-8">

    </div>

    <div class="col-4">

    </div>

  </div>

  <div class="row">

  </div>

</div>

