<div class="container col-10 col-sm-10 col-md-8 col-lg-7 col-xl-5 py-5">
  <div class="mx-5">
    <h1 class="text-center">Create your Event</h1>
    <div class="bg-grey shadow rounded">
      <div class="col-md-11 mb-3 col-lg-11 d-flex justify-content-center">
      <mat-form-field appearance="standard" class="mr-3 c3">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
      <div class="row">
      <div class="col-md-6 mb-3  d-flex justify-content-center">
      <mat-form-field appearance="standard" class="mr-3 c1">
        <mat-label>Type</mat-label>
        <mat-select>
          <mat-option value="one">Music</mat-option>
          <mat-option value="two">Sport</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
        <div class="col-md-6 mb-3  d-flex justify-content-center">
      <mat-form-field appearance="standard" class="mr-3 c1">
        <mat-label>Region</mat-label>
        <mat-select>
          <mat-option value="one">91</mat-option>
          <mat-option value="two">16</mat-option>
        </mat-select>
      </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6 mb-3  d-flex justify-content-center">
      <mat-form-field appearance="standard" class="mr-3 c1">
        <mat-label>Date</mat-label>
        <input matInput>
      </mat-form-field>
          </div>
       <div class="col-md-6 mb-3  d-flex justify-content-center">
        <mat-form-field appearance="standard" class="mr-3 c1">
          <mat-label>Places</mat-label>
        <input matInput>
              </mat-form-field>
          </div>
        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <mat-form-field appearance="fill" class="c2">
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
