
<div class="row">
  <div class="col-12">

    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="home" aria-selected="true">Création</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="preview-tab" data-toggle="tab" href="#preview" role="tab" aria-controls="profile" aria-selected="false">Aperçu</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent" style="overflow: auto;">

      <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
        <div [formGroup]="eventForm" class="container py-5">

          <div class="row pb-3">

            <div class="col-lg-4 col-md-4 col-12">
              <div class="card-img bg-blue">

              </div>

            </div>

            <div class="col-lg-8 col-md-8 col-12">

              <div class="col-12 mb-3 d-flex justify-content-center">
                <mat-form-field appearance="standard" class="mr-3 c2">
                  <mat-label>Titre</mat-label>
                  <input matInput formControlName="title">
                </mat-form-field>
              </div>


              <div class="row mb-3">
                <div class="col-md-6 col-6  d-flex justify-content-center">
                  <mat-form-field appearance="standard" class="mr-3 c1">
                    <mat-label>Departement</mat-label>
                    <mat-select formControlName="region">
                      <mat-option *ngFor=" let region of regionList" [value]="region.regionId">{{region.regionName + ' ('+region.regionId+')'}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6 col-6  d-flex justify-content-center">
                  <mat-form-field appearance="standard" class="mr-3 c1">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="category">
                      <mat-option [value]="1">Cour et Atelier</mat-option>
                      <mat-option [value]="2">Festival</mat-option>
                      <mat-option [value]="3">Salon</mat-option>
                      <mat-option [value]="4">Action solidaire</mat-option>
                      <mat-option [value]="5">Concert</mat-option>
                      <mat-option [value]="6">Gastronomie</mat-option>
                      <mat-option [value]="7">Conférence et Forum</mat-option>
                      <mat-option [value]="8">Musée et Exposition</mat-option>
                      <mat-option [value]="9">Spectacle et Théâtre</mat-option>
                      <mat-option [value]="10">Autres</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-lg-6 col-md-6 col-6  d-flex justify-content-center">
                  <mat-form-field appearance="standard" class="mr-3 c1">
                    <mat-label>Places</mat-label>
                    <input matInput formControlName="nbOfTicket">
                  </mat-form-field>
                </div>

                <div class="col-md-6 col-md-6 col-6 d-flex justify-content-center">
                  <mat-form-field appearance="standard" class="mr-3 c1">
                    <mat-label>Prix</mat-label>
                    <input type="number" min="0" max="500" matInput formControlName="price">
                  </mat-form-field>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6 col-md-6 col-6 d-flex justify-content-center">

                  <mat-form-field appearance="standard" class="mr-3 c1">
                    <mat-label>Date de début</mat-label>
                    <input matInput [matDatepicker]="pickerstart" view="date" min-view="date" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerstart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerstart></mat-datepicker>
                  </mat-form-field>

                </div>

                <div class="col-md-6 col-md-6 col-6 d-flex justify-content-center">

                  <mat-form-field appearance="standard" class="mr-3 c1">
                    <mat-label>Date de fin</mat-label>
                    <input matInput [matDatepicker]="pickerend" view="date" min-view="date" formControlName="endDate" >
                    <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
                    <mat-datepicker #pickerend></mat-datepicker>
                  </mat-form-field>

                </div>

              </div>


            </div>



          </div>


        </div>

      </div>

      <div class="tab-pane fade " id="preview" role="tabpanel" aria-labelledby="preview-tab">

      </div>

    </div>
  </div>

</div>

<div [formGroup]="eventForm" class="container col-10 col-sm-10 col-md-8 col-lg-7 col-xl-5 py-5">
  <div class="mx-5">
    <h1 class="text-center">Créez Votre Évènement</h1>

    <div class="bg-grey shadow rounded">
      <div class="col-md-10 mb-3 ml-5 col-lg-10 d-flex justify-content-center">
        <mat-form-field appearance="standard" class="mr-3 c2">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
      </div>
      <div class="col-md-10 ml-5 col-lg-10 d-flex justify-content-center">
        <mat-form-field appearance="standard" class="mr-3 c1">
          <mat-label>Places</mat-label>
          <input matInput formControlName="nbOfTicket">
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3  d-flex justify-content-center">
          <mat-form-field appearance="standard" class="mr-3 c1">
            <mat-label>Type</mat-label>
            <mat-select formControlName="category">
              <mat-option [value]="1">Cour et Atelier</mat-option>
              <mat-option [value]="2">Festival</mat-option>
              <mat-option [value]="3">Salon</mat-option>
              <mat-option [value]="4">Action solidaire</mat-option>
              <mat-option [value]="5">Concert</mat-option>
              <mat-option [value]="6">Gastronomie</mat-option>
              <mat-option [value]="7">Conférence et Forum</mat-option>
              <mat-option [value]="8">Musée et Exposition</mat-option>
              <mat-option [value]="9">Spectacle et Théâtre</mat-option>
              <mat-option [value]="10">Autres</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3  d-flex justify-content-center">
          <mat-form-field appearance="standard" class="mr-3 c1">
            <mat-label>Departement</mat-label>
            <mat-select formControlName="region">
              <mat-option *ngFor=" let region of regionList" [value]="region.regionId">{{region.regionName + ' ('+region.regionId+')'}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3  d-flex justify-content-center">
          <mat-form-field appearance="standard" class="mr-3 c1">
            <mat-label>Date</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input type="datetime"
                     auto-close="true"
                     view="date"
                     min-view="date" matStartDate placeholder="Début" formControlName="startDate" >
              <input matEndDate placeholder="Fin" formControlName="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-3  d-flex justify-content-center">
          <mat-form-field appearance="standard" class="mr-3 c1">
            <mat-label>Prix</mat-label>
            <input type="number" min="0" max="500" matInput formControlName="price">
          </mat-form-field>
        </div>
        <div class="col-md-12 mb-3 d-flex justify-content-center">
          <mat-form-field appearance="fill" class="c2">
            <mat-label>Description</mat-label>
            <textarea matInput class="textariaresize" formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
      <input type="file" id="EventPictureInput"  accept="image/x-png,image/gif,image/jpeg" (change)="onImageChange($event)" style="display: none">
      <img src="{{imageURL}}" height="200" *ngIf="imageURL" style="margin-left: auto; margin-right: auto;margin-bottom: 20px; display: block">
      <div class="d-flex justify-content-center">
        <button  id="EventInput" mat-raised-button color="primary" (click)="callInput()" class="btn btn-block cbutton mb-5" type="file">Ajouter des images</button>
      </div>
      <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary" [disabled]="eventForm.invalid" (click)="addEvent(imageURL)" class="btn btn-block cbutton mb-5" type="submit">Créer</button>
      </div>
    </div>
  </div>
</div>

