<nav class="navbar navbar-expand-md navbar-dark shadow bg-blue ">

    <button class="navbar-toggler" type="button" (click)="collapseMenu()" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a routerLink="/home" class="ml-lg-5" >
      <img class="nav-icon" src="assets/images/logocsid.svg">
    </a>
    <a routerLink="/home" class="navbar-brand pl-3 mr-2 d-none d-xl-inline">
      &Ticket'Heure
    </a>

  <button *ngIf=" (currentRoute != '/events') && (!currentRoute.includes('/events?')) " class="navbar-toggler" data-toggle="collapse" type="button" (click)="collapseSearchBar()">
    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
  </button>

  <button *ngIf=" (currentRoute == '/events') || currentRoute.includes('/events?') "  class="customtoggler d-md-none" type="button" (click)="hideShowSearchBar()">
    <i class="fa fa-search fa-2x" aria-hidden="true"></i>
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse mr-auto ml-md-2" id="globalElements" >
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
          <a class="nav-link" routerLink="/events">Évènements</a>
        </li>
      </ul>
    </div>

    <div *ngIf=" (currentRoute != '/events') && (!currentRoute.includes('/events?')) " [ngbCollapse]="isSearchMenuCollapsed" class="collapse navbar-collapse px-md-3" id="navbarSearch">
      <form [formGroup]="searchForm" class=" form-inline my-2 my-lg-0 ">

        <div class="d-inline-flex w-100">
          <div class="mr-2 flex-fill">
            <input class="form-control mr-sm-2 w-100" formControlName="search" type="text" placeholder="Recherche rapide">
          </div>

          <div>
            <button class="btn btn-outline-light my-sm-0" (click)="searchEvent()" type="submit">Recherche</button>
          </div>
        </div>

      </form>
    </div>


    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse mr-lg-5 " id="userElements">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item" *ngIf="authority == 'ORG' && isAuthenticate">
          <a class="nav-link" routerLink="/myevent-list" >Mes évènements</a>
        </li>
        <li class="nav-item" *ngIf="authority == 'ORG' && isAuthenticate">
          <a class="nav-link" routerLink="/event-form" >Créer un évènement</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticate">
          <a class="nav-link" routerLink="/signup">Inscription</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticate">
          <a class="nav-link" routerLink="/login">Connexion</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticate">
            <a class="nav-link" routerLink="/profil">Profil</a>
        </li>
        <li class="nav-item pl-md-2" *ngIf="isAuthenticate" >
          <a class="nav-link" (click)="logout()"><i class="fas fa-power-off logout-icon d-none d-md-block"></i><span class="d-md-none">Déconnexion</span></a>
        </li>
      </ul>
    </div>

    <button *ngIf=" (currentRoute == '/events') || currentRoute.includes('/events?') "  class=" customtoggler d-lg-none d-none d-md-block"type="button" (click)="hideShowSearchBar()">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </button>

</nav>
