<nav class="navbar navbar-expand-md navbar-dark shadow bg-blue ">

  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a routerLink="home">
      <img class="nav-icon" src="assets/images/logocsid.svg">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearch">
      <i class="fa fa-search fa-2x" aria-hidden="true"></i>
    </button>


    <div [formGroup]="searchForm" class="collapse navbar-collapse col-md-7 col-lg-6 col-xl-8 " id="navbarSearch">
      <form class="form-inline my-2 my-lg-0 ">

          <div class="mr-2 flex-fill">
            <input class="form-control mr-sm-2 w-100" formControlName="search" type="text" placeholder="Recherche rapide">
          </div>

          <div>
            <button class="btn btn-outline-light my-2 my-sm-0" (click)="searchEvent()" type="submit">Recherche</button>
          </div>

      </form>
    </div>


    <div class="collapse navbar-collapse col-md-5 col-lg-6 col-xl-4" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item"*ngIf="authority === 'ORG'">
          <a class="nav-link" routerLink="event-form">Créer un Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="events">Évènements</a>
        </li>
        <li class="nav-item"*ngIf="!isAuthenticate">
          <a class="nav-link" routerLink="login">Connexion</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticate">
          <a class="nav-link" routerLink="profil">Profil</a>
        </li>
        <li class="nav-item pl-md-2" *ngIf="isAuthenticate" >
          <button class="btn btn-outline-light " (click)="logout()" ><i class="fas fa-power-off logout-icon d-none d-md-block"></i><span class="d-md-none">Déconnexion</span></button>
        </li>
      </ul>

    </div>

 </div>
</nav>

