<div>
  <h3>{{text}}</h3>
  <div class="row justify-content-start" *ngIf="searchResult">

    <div *ngFor="let number of searchResult" class="col-lg-3 col-md-6 col-12 my-3">
      <app-home-event-card [event]="number"></app-home-event-card>
    </div>

    <div class="row justify-content-start collapse" id="{{identifiant}}">
      <div *ngFor="let number of searchResult" class="col-lg-3 col-md-6 col-12 my-3">
        <app-home-event-card [event]="number"></app-home-event-card>
      </div>
    </div>
    <div class="col text-center">
      <button class="btn btn-primary" type="button" data-toggle="collapse" [attr.data-target]="idtarget" >
        Button with data-target
      </button>
    </div>

  </div>

</div>
