<div class="container pt-3">
  <div class="row">
    <div class="col-lg-4 pr-5 pt-2">
      <app-search-bar></app-search-bar>
    </div>
    <div class="col-lg-8" *ngIf="searchResult">

      <app-events-list [eventList]="this.searchResult.dataList"></app-events-list>

      <div class="d-flex justify-content-center pt-4">
        <app-event-list-pagination [currentPage]="this.searchResult.currentPage" [numberOfpages]="this.searchResult.numberOfPages"></app-event-list-pagination>
      </div>
    </div>


  </div>



</div>
