
  <div class="card my-2">
    <a routerLink="/event-edit/{{eventId}}" *ngIf="isAuthenticate && isOwner" class="buttonedit offset-md-2">
      <i class="fas fa-edit"></i>
    </a>
    <a routerLink="/event/{{event.id}}">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-4">
        <img class="card-img-top img img2"
             [src]="eventImage ? eventImage : './assets/images/nopicture.png'" alt="Card image cap">
      </div>
      <div class="card-body card-size col-lg-8 col-md-8 col-sm-8 col-8">
        <h4 class="card-title text-truncate ">{{event.title}}</h4>
        <div>{{event.price}} €</div>

        <div class="p-0">{{categories[event.category]}}</div>
        <div>{{region}}</div>
      </div>
    </div>
    </a>
  </div>
