@import "~ng-zorro-antd/ng-zorro-antd.min.css";
.bg-grey{
  background-color: #f4f4f4d4;
}

.bg-blue{
  background-color: #2e9fb3;
}

.bg-blue-form{
  background-color: #f4f4f4d4;

}

html,body{
  width: 100%;
  height: 100%;
  font-size: 17px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

