<div [formGroup]="registerForm" class="container col-10 col-sm-10 col-md-8 col-lg-7 col-xl-5 py-5 bg-grey shadow rounded ">
  <div class="mx-5">

  <h1 class="mb-3">Inscription</h1>
  <div class="row">
    <div class="col-md-6 mb-3">
      <input [class.is-invalid] = "registerForm.get('firstName').invalid && registerForm.get('firstName').touched"
             type="text" class="form-control" formControlName="firstName" placeholder="Prénom"/>
      <div *ngIf="(firstName.invalid && firstName.touched) || firstName.dirty">
        <small *ngIf="firstName.errors?.required" class="text-danger">Ce champ est requis</small>
        <small *ngIf="firstName.errors?.minlength" class="text-danger">La taille minimale est de 2 caractères</small>
        <small *ngIf="firstName.errors?.maxlength" class="text-danger">La taille maximal est de 50 caractères</small>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <input [class.is-invalid] = "registerForm.get('lastName').invalid && registerForm.get('lastName').touched"
             type="text" class="form-control" formControlName="lastName" placeholder="Nom"/>
      <div *ngIf="(lastName.invalid && lastName.touched) || lastName.dirty">
        <small *ngIf="lastName.errors?.required" class="text-danger">Ce champ est requis</small>
        <small *ngIf="lastName.errors?.minlength" class="text-danger">La taille minimale est de 2 caractères</small>
        <small *ngIf="lastName.errors?.maxlength" class="text-danger">La taille maximal est de 50 caractères</small>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <input [class.is-invalid] = "registerForm.get('userName').invalid && registerForm.get('userName').touched"
             type="text" class="form-control" formControlName="userName" placeholder="Nom d'utilisateur"/>
    </div>
    <div *ngIf="(userName.invalid && userName.touched) || userName.dirty">
      <small *ngIf="userName.errors?.required" class="text-danger">Ce champ est requis</small>
      <small *ngIf="userName.errors?.minlength" class="text-danger">La taille minimale est de 4 caractères</small>
      <small *ngIf="userName.errors?.maxlength" class="text-danger">La taille maximal est de 50 caractères</small>
      <small *ngIf="userName.errors?.incorrect" class="text-danger">Ce nom d'utilisateur est déjas pris</small>

    </div>
  </div>

    

  <div class="mb-3">
    <input [class.is-invalid] = "registerForm.get('email').invalid && registerForm.get('email').touched"
           type="email" class="form-control" formControlName="email" placeholder="Adresse-mail"/>
    <div *ngIf="(email.invalid && email.touched) || email.dirty">
      <small *ngIf="email.errors?.required" class="text-danger">Ce champ est requis</small>
      <small *ngIf="email.errors?.pattern" class="text-danger">Veuillez entrer un email valide</small>
      <small *ngIf="email.errors?.minlength" class="text-danger">La taille minimale est de 5 caractères</small>
      <small *ngIf="email.errors?.maxlength" class="text-danger">La taille maximal est de 50 caractères</small>
      <small *ngIf="email.errors?.incorrect" class="text-danger">Cet email est déjas pris</small>
    </div>
  </div>

  <div class="mb-3">
    <input [class.is-invalid] = "registerForm.get('birthDate').invalid && registerForm.get('birthDate').touched"
           type="date" class="form-control" formControlName="birthDate"/>
    <div *ngIf="(birthDate.invalid && birthDate.touched) || birthDate.dirty">
      <small *ngIf="birthDate.errors?.required" class="text-danger">Ce champ est requis</small>
      <small *ngIf="birthDate.errors?.birthDateInvalid ||birthDate.errors?.incorrect" class="text-danger">Vous devez avoir entre 18 et 122 ans</small>

    </div>
  </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <input [class.is-invalid] = "registerForm.get('password').invalid && registerForm.get('password').touched"
               type="password" class="form-control" formControlName="password" placeholder="Mot de passe"/>
        <div *ngIf="(password.invalid && password.touched) || password.dirty">
          <small *ngIf="password.errors?.required" class="text-danger">Ce champ est requis</small>
          <small *ngIf="password.errors?.minlength" class="text-danger">La taille minimale est de 8 caractères</small>
          <small *ngIf="password.errors?.maxlength" class="text-danger">La taille maximal est de 16 caractères</small>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <input [class.is-invalid] = "registerForm.get('passwordConfirm').invalid && registerForm.get('passwordConfirm').touched"
               type="password" class="form-control" formControlName="passwordConfirm" placeholder="Confirmer le Mot de passe"/>
        <div *ngIf="(passwordConfirm.invalid && passwordConfirm.touched) || passwordConfirm.dirty">
          <small *ngIf="passwordConfirm.errors?.required" class="text-danger">Ce champ est requis</small>
          <small *ngIf="passwordConfirm.errors?.minlength" class="text-danger">La taille minimale est de 8 caractères</small>
          <small *ngIf="passwordConfirm.errors?.maxlength" class="text-danger">La taille maximal est de 16 caractères</small>
          <small *ngIf="passwordConfirm.errors?.passwordsmatch" class="text-danger">Les mots de passe doivent correspondrent</small>
        </div>
      </div>





    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="acceptconditions">
      <label class="form-check-label" for="acceptconditions">Accepter les conditions</label>
    </div>


    <button [disabled]="registerForm.invalid || this.registerForm.get('passwordConfirm').value != this.registerForm.get('password').value"
            (click)="addUser()" class="btn btn-primary btn-lg btn-block" type="submit">S'inscrire</button>

  </div>
</div>
