<div class="container  bg-grey rounded">
  <form class="pt-3">

    <mat-form-field appearance="legacy" >
      <mat-label>Localisation</mat-label>
      <input matInput type="text" formControlName="location">
    </mat-form-field>

    <mat-form-field appearance="legacy" >
      <mat-label>Catégoris</mat-label>
      <input matInput type="text" formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>



    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


